// Using .class to avoid specificity issues with #section rules
.root-wrapper {
  min-height: 100vh;
  > section {
    min-height: 100vh;
    padding-top: $section-padding-top;
    padding-bottom: $section-padding-bottom;
  }
}

#top {
  background-image: url(/assets/img/hausmania.jpg);
  background-size: cover;
  position: relative;
  height: 100vh;

  .video-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  //video {
  //  min-width: 100%;
  //  min-height: 100%;
  //  display: block;
  //  position: absolute;
  //  top: 50%;
  //  left: 50%;
  //  transform: translate(-50%, -50%);
  //}

  img {
    min-width: 100%;
    min-height: 100%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

#post {
  background-color: $secondary;
  color: $white;

  .author {
    font-size: .8rem;
  }

  img {
    @include img-fluid();
  }
}

#about {
  background-color: $primary;
  align-items: center;

  h2 {
    margin: 0;
    padding: 0;
  }
}

#news {
  background-color: $secondary;

  h2, h3 {
    display: inline-block;
    padding: .25rem;
    color: white;
  }

  h2 {
    background-color: $yellow;
    color: black;
    padding: .5rem 2rem;
    margin-bottom: 1.5rem;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  ul > li {
    padding: 0 .5rem;

    h3 {
      margin: 0 0 .5rem 0;
      border: 1px solid $black;
      background-color: $white;
      color: $black;
      font-size: 1.25rem;
    }

    p {
      color: $white;
      font-size: 1rem;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

#contact {
  background-color: $white;

  h2 {
    padding: 1rem 2rem;
    background-color: $purple;
    display: inline-block;
    color: $white;
  }

  ul {
    padding-left: 1.25rem;
  }

  #map {
    height: 25rem;

    @include media-breakpoint-only(sm) {

    }
    @include media-breakpoint-up(md) {
      min-height: 69vh;
      max-height: 42rem;
    }
  }
}

#groups {
  background-color: $primary;

  .group-item a {
    color: $black;
    border-bottom: 1px solid #000;
    &:hover {
      text-decoration: none;
    }
  }

  .group-item .header {
    height: 15rem;
    background-position: top center;
    background-size: cover;
    margin-bottom: .5rem;

    // Only show pointer for group items that has a link
    &[onclick] {
      cursor: pointer;
    }

    @include media-breakpoint-up(sm) {
      height: 10rem;
    }
  }
}

#scrollHint {
  width: $hint-size;
  height: $hint-size;
  display: block;
  background: $nav-item-bg url(/assets/img/arrow-down.svg) center center no-repeat;
  background-size: $hint-icon-size;
  border-radius: $hint-border-radius;
  z-index: 1337;
  position: absolute;
  top: 90vh;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  animation: 5s infinite normal floating;

  transition-property: opacity top;
  transition-duration: 300ms;
  cursor: pointer;

  &.hidden {
    opacity: 0;
    cursor: default;
    pointer-events: none;
  }
}

@keyframes floating {
  from {
    top: 90vh;
  }
  10% {
    top: 93vh;
  }
  20% {
    top: 90vh
  }
  30% {
    top: 93vh;
  }
  40% {
    top: 90vh
  }
  to {
    top: 90vh;
  }
}
