// Using .class to avoid specificity issues with #section rules
.root-wrapper {
  min-height: 100vh;
  > section {
    min-height: 100vh;
    padding-top: $section-padding-top;
    padding-bottom: $section-padding-bottom;
  }
}

#top {
  background-image: url(/assets/img/hausmania.jpg);
  background-size: cover;
  position: relative;
  height: 100vh;

  .video-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  video {
    min-width: 100%;
    min-height: 100%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

#post {
  background-color: $secondary;
  color: $white;

  .author {
    font-size: .8rem;
  }

  img {
    @include img-fluid();
  }
}

#about {
  background-color: $primary;
  align-items: center;

  h2 {
    margin: 0;
    padding: 0;
  }
}

#news {
  background-color: $secondary;

  ul {
    list-style: none;
    padding: 0;
  }

  ul > li {
    padding: 0 .5rem;

    h3 {
      margin: 0;
      border-top: 1px solid $black;
      color: $black;
      font-size: 1.25rem;
      margin-bottom: .5rem;
    }

    p {
      color: $white;
      font-size: 1rem;
    }
  }
}

#contact {
  background-color: $tertiary;
  height: 100vh;
  min-height: 600px;

  @include media-breakpoint-down(xs) {
    #map {
      height: 25rem;
    }
  }
  @include media-breakpoint-only(sm) {
    > * {
      height: 50%;
    }
  }
  @include media-breakpoint-up(md) {
    > .container {
      height: 35%;
    }
    #map {
      height: 65%;
    }
  }
}

#groups {
  background-color: $primary;

  .group-item a {
    color: $black;
    border-bottom: 1px solid #000;
    &:hover {
      text-decoration: none;
    }
  }

  .group-item .header {
    height: 10rem;
    background-position: top center;
    background-size: cover;
    margin-bottom: .5rem;

    // Only show pointer for group items that has a link
    &[onclick] {
      cursor: pointer;
    }
  }
}

#scrollHint {
  width: $hint-size;
  height: $hint-size;
  background: $nav-item-bg url(/assets/img/arrow-down.svg) center center no-repeat;
  background-size: $hint-icon-size;
  border-radius: $hint-border-radius;
  z-index: 1337;
  position: absolute;
  top: 90vh;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  animation: 5s infinite normal floating;

  transition-property: opacity top;
  transition-duration: 300ms;
  cursor: pointer;

  &.hidden {
    opacity: 0;
    cursor: default;
    pointer-events: none;
  }
}

@keyframes floating {
  from {
    top: 90vh;
  }
  10% {
    top: 93vh;
  }
  20% {
    top: 90vh
  }
  30% {
    top: 93vh;
  }
  40% {
    top: 90vh
  }
  to {
    top: 90vh;
  }
}
