body {
    background-color: $yellow;
}
.main {
    scroll-snap-type: mandatory;

    scroll-snap-points-y: repeat(100vh);
}
h2 {
  font-size: 2rem;

  @include media-breakpoint-up(md) {
    font-size: 4rem;
  }
}
