#nav {
  background-color: transparent;

  a {
    color: $white;
    // font-weight: bold;
  }

  .navbar-brand img {
    width: 3.5rem;
  }

  .navbar-nav {
    text-align: right;
  }

  .navbar-toggler-icon {
    background: url(/assets/img/menu.svg) center center no-repeat;
    background-size: 100% 100%;
  }
  
  .navbar-toggler-right {
    top: 1.3rem;
  }

  .nav-item {
    border: 3px solid $white;
    font-weight: bold;
    padding: .25rem;
    // border-radius: 3px;

    &:not(:first-child) {
      margin-left: .5rem;
    }
  }

  @include media-breakpoint-down(sm) {
    .fancy-sm- {
      padding: .1rem .5rem;
      &blue {
        background-color: $blue;
        box-shadow: 0 0 12px 8px $blue;
      }
      &yellow {
        background-color: $yellow;
        box-shadow: 0 0 12px 8px $yellow;
      }
      &purple {
        background-color: $purple;
        box-shadow: 0 0 12px 8px $purple;
      }
    }

    .nav-item {
      border: none;

      &:not(:last-child) {
        margin-bottom: .75rem;
      }
    }
  }
}
