<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col col-md-6">
        <p>
          Hausmania SA<br>
          Hausmannsgate 34<br>
          <a href="mailto:dagligleder@hausmania.org">dagligleder@hausmania.org</a>
        </p>
      </div>
      <div class="col col-md-6">
        <h2>Besøk oss</h2>
        <h3>Åpningstider</h3>
        <ul>
          <li>Mandag - Søndag: åpent om du har nøkkel</li>
        </ul>
      </div>
    </div>
    <div id="map">
      {% include map.html %}
    </div>
  </div>
</section>
