<section id="contact" class="pb-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Besøk oss</h2>
      </div>
    </div>
    <div class="row">
      <div class="col col-md-6">
        <h3>Åpningstider</h3>
        <ul>
          <li>Mandag - Søndag: åpent om du har nøkkel</li>
        </ul>
      </div>
      <div class="col col-md-6">
        <h3>Adresse</h3>
        <p>
          Hausmania SA<br>
          Hausmannsgate 34<br>
          <a href="mailto:dagligleder@hausmania.org">dagligleder@hausmania.org</a>
        </p>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div id="mapid" class="row"></div>
      <script>
            var mymap = L.map('mapid').setView([59.919231,10.752149], 18);
            var marker = L.marker([59.919231,10.752149]).addTo(mymap);
            mymap.scrollWheelZoom.disable();
            marker.bindPopup("<b>Hausmania</b><br>Hausmannsgate 34.");
            L.tileLayer('https://api.mapbox.com/styles/v1/mapbox/streets-v10/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoibGFzc2VndWwiLCJhIjoiQVNxTklPSSJ9.WGPBVU6BcFO8ptFvjWpiDA', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox.streets',
    accessToken: 'your.mapbox.access.token'
}).addTo(mymap);
      </script>
  </div>
</section>
