<section id="contact" class="pb-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Besøk oss</h2>
      </div>
    </div>
    <div class="row">
      <div class="col col-md-6">
        <h3>Åpningstider</h3>
        <ul>
            <li><a href="https://kafe-haerverk.com/">Kafe Hærverk</a>: Ukedager 18.00-03.30, Helg 16.00-03.30</li>
            <li><a href="https://hackeriet.no/">Hackeriet</a>: Tirsdag og Lørdag fra 18.00-ish</li>
            <li>Hausmania kontor: Tirsdag 12.00-15.00</li>
        </ul>
      </div>
      <div class="col col-md-6">
        <h3>Adresse</h3>
        <p>
          Hausmania SA<br>
          Hausmannsgate 34<br>
          <a href="mailto:dagligleder@hausmania.org">dagligleder@hausmania.org</a>
        </p>
      </div>
    </div>
  </div>
  <div id="map" class="container-wide"></div>
</section>
