{% comment %}Couldn't figure out how to get an empty array.{% endcomment %}
{% assign events = "" | split:"," %} 

{% assign server_date = site.time | date: "%Y-%m-%d"  %}
{% for event in site.data.facebook.data %}
  {% comment %}Remove passed events by day. Lexicographically..{% endcomment %}
  {% assign end_time = event.end_time | date: "%Y-%m-%d"  %}
  {% if end_time > server_date %}
    {% assign events = events | push: event %}
  {% endif %}
{% endfor %}

{% if events.size > 0 %}
<ul class="row">
  {% for event in events reversed %}
            <li class="col col-md-6">
    <a href="https://www.facebook.com/events/{{event.id}}">
        <h3>
            {{ event.start_time | date: "%d/%m %H:%M" }} — {{ event.end_time | date: "%H:%M" }}
        </h3>
                <p>{{ event.name }}</p>
    </a>
            </li>
    {% endfor %}
</ul>
{% endif %}
