{% comment %}Couldn't figure out how to get an empty array.{% endcomment %}
{% assign date_format = "%Y-%m-%d %I:%M:%S %p %z" %}
{% assign server_date = site.time | date: date_format %}

{% assign events = "" | split:"," %}
{% assign past_events = "" | split:"," %}

{% for event in site.data.events.data %}
  {% assign end_time = event.end_time | date: date_format %}
  {% if end_time > server_date %}
    {% assign events = events | push: event %}
  {% else %}
    {% assign past_events = past_events | push: event %}
  {% endif %}
{% endfor %}

<h2>Kalender</h2>
<h3 class="mb-3">Kommende arrangementer</h3>
<div class="container mb-4">
  {% if events.size > 0 %}
  <ul class="row">
    {% for event in events | reversed %}
    <li class="col-12 col-sm-6 col-md-6">
      <a href="https://www.facebook.com/events/{{event.id}}" target="_blank">
        <h3>{{ event.start_time | date: "%d/%m %H:%M" }} —<br>{{ event.end_time | date: "%d/%m %H:%M" }}</h3>
        <p>{{ event.name }}</p>
      </a>
    </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>Ingen å vise for øyeblikket...</p>
  {% endif %}
</div>
{% if past_events.size > 0 %}
<h3 class="mb-3">Tidligere arrangementer</h3>
<div class="container">
  <ul class="row">
    {% for event in past_events limit:6 %}
      <li class="col-12 col-sm-6 col-md-6">
        <a href="https://www.facebook.com/events/{{event.id}}" target="_blank">
          <h3>{{ event.start_time | date: "%d/%m %H:%M" }} —<br>{{ event.end_time | date: "%d/%m %H:%M" }}</h3>
          <p>{{ event.name }}</p>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
