{% for gruppe in site.grupper %}
  {% comment %}
    This is just terrible, liquid doesn't do boolean algebra very well.
    Alternative is just include.placement == gruppe.placement, but this makes for a
    nice default when users forget to specify placement.
  {% endcomment %}
  {% if include.placement == "top" and gruppe.placement == "top" %}
    {% assign show = true %}
  {% elsif include.placement != "top" and gruppe.placement != "top" %}
    {% assign show = true %}
  {% else %}
    {% assign show = false %}
  {% endif %}
  {% if show %}
    <div class="col-12 col-md-4 col-xl-3 mb-4 mb-md-3 group-item">
      {% if gruppe.link %}
      <a href="{{ gruppe.link }}" target="_blank">{% endif %}<img class="img-fluid mb-2" src="/assets/img/grupper/{{ gruppe.img }}" alt="{{ gruppe.title }}">{% if gruppe.link %}</a>
      {% endif %}
      <h3>{% if gruppe.link %}<a href="{{ gruppe.link }}" target="_blank">{% endif %}{{ gruppe.title }}{% if gruppe.link %}</a>{% endif %}</h3>
      <p>{{ gruppe.description }}</p>
    </div>
  {% endif %}
{% endfor %}
