<nav id="nav" class="navbar navbar-toggleable-sm fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/#top">
    <img src="{{ "assets/img/logo.png" | relative_url }}" alt="Hausmania logo">
    <span>{{ site.title }}</span>
  </a>

  <div class="collapse navbar-collapse justify-content-end" id="navbarMain">
    <ul class="navbar-nav justify-content-end">
      <li class="nav-item active">
        <a class="nav-link" href="/#about">Hjem</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#news">Nyheter</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#groups">Folk</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#contact">Kontakt</a>
      </li>
    </ul>
  </div>
</nav>
