$white: #FFFFFF;
$black: #000000;
$yellow: #F0D132;
$blue: #6A90F9;
$purple: #C860F9;

$primary: $yellow;
$secondary: $blue;
$tertiary: $purple;

$brand-primary: $primary;
$brand-inverse: $secondary;

$font: 'Work Sans', sans-serif;

@import "haus/custom-bootstrap";
@import "haus/general";
@import "haus/navigation";
@import "haus/content";

@import url('https://fonts.googleapis.com/css?family=Work+Sans:600');


