$white: #FFFFFF;
$black: #000000;
$yellow: #F0D132;
$blue: #6A90F9;
$purple: #C860F9;

$primary: $yellow;
$secondary: $blue;
$tertiary: $purple;

$brand-primary: $primary;
$brand-inverse: $secondary;

$nav-item-bg: rgba(0, 0, 0, .2);
$nav-item-border: 3px solid $white;

$section-padding-top: 4.2rem;
$section-padding-bottom: 3.5rem;

// Scroll-hint arrow
$hint-size: 3.5rem;
$hint-icon-size: 2rem;
$hint-border-radius: $hint-size / 2;

// Bootstrap overrides
$font-family-sans-serif: 'Work Sans';
$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;

@import "haus/custom-bootstrap";
@import "haus/general";
@import "haus/navigation";
@import "haus/content";

@import url('https://fonts.googleapis.com/css?family=Work+Sans:600');
